@page
@model Sphinx_Mustafa.Pages.ClientProduct.DeleteClientProductModel
@{
}
<h2>Delete Client Product</h2>

<p>Are you sure you want to delete this Client Product?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Clients/Details" asp-route-id="@Model.ClientProductDto.ClientId">Cancel</a>
</form>